<br>
<%= link_to("All Comic", comics_path) %> |
<%= link_to("New Comic", new_comic_path) %> <br>
<h1>Welcome <%= @user.username %></h1>
<h3><%= link_to("View your purchases", purchases_path) %></h3>

