<h3>All purchases<h3>

<% @purchases.each do |purchase| %>

    <div>
    <%= link_to(purchase.purchase_total, purchase_path(purchase) )%> - <%= purchase.user.username %>
    </div>
    <% end %>
    <br>
    <%= link_to("Your profile", user_path(current_user)) %>
