<h3>All purchases<h3>

<% @purchases.each do |purchase| %>

    <div>
    <%= purchase.comic.title %> $<%= link_to(purchase.purchase_total, purchase_path(purchase) )%>  

    </div>
    <% end %>
    <br>
    <%= link_to("Your Profile", user_path(current_user)) %>
